body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;

}

.imageArea{
    width: 35%;
    border-right: 3px solid black;
}

img{
    height: 100dvh;
    width: 100%;
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: rgb(234, 227, 218);
    padding-top: 10%;
}

.container h1,.container p, .container button{
    margin-left:  8%;
}

#logo{
    left: 2%;
    position: absolute;
}

#logo h1{
    font-family: 'Poppins';
    font-size: 60px;
    color: black;
}

form{
    display: grid;
	grid-template-rows: 60px 60px 60px;
	grid-template-columns: 100px 100px;
    grid-column-gap: 200px;
    justify-content: start;
    align-content: space-between;
    margin-top: 15%;
    padding: 8%;
    background-color: rgb(238, 238, 217);
    height: 25%;

}

button{
    width: 200px;
    height: 35px;
    background-color: rgba(216, 66, 178, 0.88);
    border-radius: 10px;
    border: grey 2px solid;
    color: white;
    font-size: larger;
    margin-top: 25px;
}
.input{
    width: 200px;
}
input{
    border-radius: 8px;
    border: grey 2px solid;
    padding: 3px;
}

input:focus {
    border: pink 3px solid;
}

label{
    font-size: larger;
}

a{
    text-decoration: none;
}

a:visited{
    color: red;
}

.error{
    
}